.app-top {
  margin: 0 0 3em;
}

.app-calendar {
  margin: 0 auto;
  max-width: 900px;
}

// .mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
//   color: #1e88e5;
// }

// .mat-stroked-button:not([disabled]) {
// border-color: #1e88e5;
// }

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #1e88e5;
}

.mat-stroked-button:not([disabled]) {
border-color: #1e88e5;
}

.position-info {
  margin-top: -30px;
}

@media screen and (max-width: 991px) {
  .position-info {
    margin-top: 0px;
  }

  .position-botao {
    margin-bottom: 10px;
  }
}
