<!-- <app-cadastro-uso-continuo></app-cadastro-uso-continuo> -->
<mat-horizontal-stepper linear #stepper (selectionChange)="changeStep($event)">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Selecione a dependência</ng-template>
      <div class="row d-flex justify-content-center">
        <div class="col-md-5">
          <app-selection-filter *ngIf="dependencias" [lista]="dependencias" place="Dependência" filtro="dependencia"
            estilo="outline" messageErro="Selecione a dependência" (objetoSelecionado)="aoSelecionar($event)"
            placeholderLabel="Encontrar dependência..." noEntriesFoundLabel="Nenhuma dependência encontrada">
          </app-selection-filter>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <button mat-stroked-button color="primary" matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Reservas
      {{dependenciaSelecionada ? ' - ' + dependenciaSelecionada.nome + ' | ' + dependenciaSelecionada.bloco.nome : ''}}
    </ng-template>
    <div class="row">
      <div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3">
        <mat-form-field class="col-xl-8 offset-xl-2">
          <mat-label>Exibir</mat-label>
          <mat-select [(ngModel)]="exibirPor" (selectionChange)="listarReservasPorDependencia()">
            <mat-option value="all">Todos servidores</mat-option>
            <mat-option value="minhas">Minhas reservas</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3 offset-lg-1 col-sm-4 offset-sm-4" *ngIf="dependenciaSelecionada">
        <button mat-stroked-button class="position-botao" [disabled]="!dependenciaSelecionada.ativo" color="primary"
          (click)="addUsoContinuo()">Adicionar reserva</button>
      </div>
    </div>
    <!-- <br> -->
    <div class="row d-flex justify-content-center">
      <span class="badge" style="background-color: #34bb34; margin-right: 5px">Aula</span>
      <span class="badge" style="background-color: #3788d8; margin-right: 5px">Não é aula</span>
      <span class="badge" style="background-color: #9d37d8;" *ngIf="exibirPor === 'minhas'">Cancelada</span>
    </div>
    <div class="row" class="position-info">
      <div class="col-lg-4 offset-lg-8 col-sm-12">
        <span style="font-size: 0.8em; font-style: italic;">*Para adicionar uma reserva, clique em cima de uma
          data ou no botão 'Adicionar reserva'</span>
      </div>

    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class='app-calendar'>
          <full-calendar #calendar defaultView="dayGridMonth" [header]="{
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            }" locale='pt-br' [buttonText]=" {
              today: 'Atual',
              month: 'mês',
              week: 'semana',
              day: 'dia'
            }" minTime='07:00:00' maxTime='23:00:00' [allDaySlot]="false" [plugins]="calendarPlugins"
            [weekends]="calendarWeekends" [events]="calendarEvents" (eventClick)="handleEventClick($event)"
            (dateClick)="handleDateClick($event)"></full-calendar>

          <!-- minTime= '07:15:00'
          slotDuration= '00:50:00'
          maxTime= '22:30:00' -->
        </div>
      </div>
    </div>
  </mat-step>
