<h1 mat-dialog-title>Atenção</h1>
<div mat-dialog-content>
  <p style="text-align: justify">Erro(s) no(s) horário(s) de
    <ng-container *ngFor="let dia of data">
      <b>{{ dia }}</b>;
    </ng-container></p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Ok</button>
</div>
