<h1 mat-dialog-title>Confirmação</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-12">
      <p style="text-align: justify">Há outra(s) reserva(s) em aprovação com compatibilidade de horário com a reserva em
        questão. Outra(s) reserva(s):</p>
      <mat-expansion-panel *ngFor="let reserva of data">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b> {{ reserva.title }} </b>
          </mat-panel-title>
          <mat-panel-description>
            {{ reserva.start | date: 'dd/MM/yyyy HH:mm:ss' }} - {{ reserva.end | date: 'dd/MM/yyyy HH:mm:ss' }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-12"><b>Responsável:</b> {{ reserva.usuario.nome }} {{ reserva.usuario.sobrenome }}</div>
          <div class="col-md-12"><b>Saída:</b> {{ reserva.saida }}</div>
          <div class="col-md-12"><b>Destino:</b> {{ reserva.destino }}</div>
          <div class="col-md-12"><b>Veículo:</b> {{ reserva.veiculo.modelo }} - {{ reserva.veiculo.marca }} | Placa:
            {{ reserva.veiculo.placa }}</div>
          <div class="col-md-12"><b>Motivo:</b> {{ reserva.motivo }}</div>
          <div class="col-md-12"><b>Motorista:</b>
            <ng-container *ngIf="reserva.motorista"> {{ reserva.motorista.nome }} {{ reserva.motorista.sobrenome }}
            </ng-container>
          </div>
          <div class="col-md-12"><b>Data de envio para aprovação:</b>
            {{ reserva.dataEnvioAprovacao | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
        </div>
      </mat-expansion-panel>
      <br>
      <p style="text-align: justify">Deseja reprovar as outras reservas e aprovar a reserva em questão?</p>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Não</button>
  <button mat-raised-button color="primary" cdkFocusInitial [mat-dialog-close]="true">Sim</button>
</div>
