.mat-expansion-panel-header {
  background: #d4edda !important;
  border-color: #c3e6cb !important;
  color: rgba(0, 0, 0, 0.87) !important;
  border: 1px solid transparent;
}

.mat-expanded:focus {
  background: #d4edda !important;
  border-color: #c3e6cb !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.mat-expansion-panel-header-title {
  color: #155724;
}
