<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-md-6">
        <h3>Meu perfil</h3>
      </div>
    </div>
    <div class="container">
      <mat-tab-group (selectedTabChange)="alteracaoTab($event)">
        <mat-tab label="Meus dados">
          <br>
          <form (ngSubmit)="alterarDados()" [formGroup]="formGroupPerfil">
            <div class="row" style="width: 100%">
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="mat-form-field-fluid">
                  <mat-label>Nome*</mat-label>
                  <input matInput formControlName="nome">
                  <mat-error>Informe o nome</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="mat-form-field-fluid">
                  <mat-label>Sobrenome*</mat-label>
                  <input matInput formControlName="sobrenome">
                  <mat-error>Informe o sobrenome</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="mat-form-field-fluid">
                  <mat-label>E-mail*</mat-label>
                  <input matInput formControlName="email" type="text" class="example-right-align">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="mat-form-field-fluid">
                  <mat-label>Login*</mat-label>
                  <input matInput formControlName="login">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Tipo de usuário</mat-label>
                  <mat-select formControlName="role">
                    <mat-option value="ROLE_MASTER">Master</mat-option>
                    <mat-option value="ROLE_USER">Servidor</mat-option>
                    <mat-option value="ROLE_ADMIN">Coordenador</mat-option>
                    <mat-option value="ROLE_APPROVER">Administrador das reservas de veículo</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12" align="end">
                <button mat-button color="primary" (click)="resetarDados($event)">Cancelar</button>
                <button mat-raised-button color="primary">Salvar</button>
              </div>
            </div>
          </form>
        </mat-tab>
        <mat-tab label="Alterar senha">
          <br>
          <form (ngSubmit)="alterarSenha()" [formGroup]="formGroupSenha">
            <div class="row" style="width: 100%">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="mat-form-field-fluid">
                  <mat-label>Senha atual*</mat-label>
                  <input matInput [type]="hideSenhaAtual ? 'password' : 'text'" formControlName="senhaAtual">
                  <button type="text" mat-button mat-icon-button matSuffix
                    (click)="(hideSenhaAtual = !hideSenhaAtual) && $event.preventDefault()"
                    [attr.aria-label]="'hideSenhaAtual password'" [attr.aria-pressed]="hideSenhaAtual">
                    <mat-icon>{{hideSenhaAtual ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error>Informe a senha atual</mat-error>
                </mat-form-field>
              </div>
              <ng-container formGroupName="formGroupConfirmacao">
                <div class="col-md-4">
                  <mat-form-field appearance="outline" class="mat-form-field-fluid">
                    <mat-label>Nova senha*</mat-label>
                    <input matInput [type]="hideNovaSenha ? 'password' : 'text'" formControlName="novaSenha">
                    <button mat-button mat-icon-button matSuffix
                      (click)="(hideNovaSenha = !hideNovaSenha) && $event.preventDefault()"
                      [attr.aria-label]="'hideNovaSenha password'" [attr.aria-pressed]="hideNovaSenha">
                      <mat-icon>{{hideNovaSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="novaSenha.hasError('required')">Informe a nova senha</mat-error>
                    <mat-error *ngIf="novaSenha.hasError('minlength')">A senha deve possuir no mínimo 6 caracteres
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline" class="mat-form-field-fluid">
                    <mat-label>Confirmar senha*</mat-label>
                    <input matInput [type]="hideConfirmacaoSenha ? 'password' : 'text'"
                      formControlName="confirmacaoSenha" [errorStateMatcher]="confirmValidParentMatcher">
                    <button mat-button mat-icon-button matSuffix
                      (click)="(hideConfirmacaoSenha = !hideConfirmacaoSenha) && $event.preventDefault()"
                      [attr.aria-label]="'hideConfirmacaoSenha password'" [attr.aria-pressed]="hideConfirmacaoSenha">
                      <mat-icon>{{hideConfirmacaoSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="confirmacaoSenha.hasError('required')">Confirme a senha</mat-error>
                    <mat-error *ngIf="!confirmacaoSenha.hasError('required')">Senhas não são iguais</mat-error>
                  </mat-form-field>
                </div>
              </ng-container>
              <div class="col-md-12" align="end">
                <button mat-button color="primary" (click)="resetarAlteracaoSenha($event)">Cancelar</button>
                <button mat-raised-button color="primary">Salvar</button>
              </div>
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card-content>
</mat-card>
