<div [hidden]="!message"
  [ngClass]="{show: message, 'alert-danger': type === 'error', 'alert-success': type === 'success', 'alert-info': type === 'info'}"
  class="alert" role="alert" #alertNotice>
  <span [innerHTML]="message"></span>
</div>
