<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<!-- <div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
    <div class="profile-img"> <img src="assets/images/users/profile.png" alt="user"> </div>
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> Markarn Doe <i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Settings </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu>

</div> -->
<mat-nav-list appAccordion>
  <mat-list-item appAccordionLink routerLinkActive="selected">
    <a (click)="exibirSubmenu()">
      <mat-icon>av_timer</mat-icon>
      <span>Reserva</span>
      <span fxFlex></span>
      <mat-icon class="dd-icon mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">
        keyboard_arrow_down</mat-icon>
    </a>
    <ng-container *ngIf="submenu">
      <mat-list-item routerLinkActive="teste">
        <a class="relative" [routerLink]="['/reservas-dependencias']">
          <mat-icon>home</mat-icon>
          <span>Dependência</span>
        </a>
      </mat-list-item>
      <mat-list-item routerLinkActive="teste">
        <a class="relative" [routerLink]="['/reservas-veiculos']">
          <mat-icon>directions_bus</mat-icon>
          <span>Veículo</span>
        </a>
      </mat-list-item>
    </ng-container>
  </mat-list-item>

  <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected">
    <a *ngIf="auth.temQualquerPermissao(menuitem.permissao) || menuitem.permissao.length === 0" (click)="exibirSubmenu(false)"
      [routerLink]="['/', menuitem.state]">
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name }}</span>
    </a>
  </mat-list-item>
</mat-nav-list>
