<h1 mat-dialog-title>Confirmação</h1>
<div mat-dialog-content>
  <p *ngIf="data.usoContinuo" style="text-align: justify">A reserva selecionada é de uso contínuo. Ao cancelá-la, os demais horários (posteriores à data atual) referentes à reserva serão cancelados.</p>
  <!-- <p *ngIf="data.usoContinuo" style="text-align: justify">A reserva selecionada está vinculada a outras reservas. Deseja cancelar somente a reserva selecionada ou os demais horários (posteriores à data atual) referentes à reserva selecionada?</p> -->
  <p style="text-align: justify">Deseja realmente cancelar a reserva {{ data.title }}?</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Não</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Sim</button>
</div>
