<form (ngSubmit)="salvar()" [formGroup]="dataFormGroup">
  <h1 mat-dialog-title> {{ alterando ? 'Alterando motorista' : 'Aprovar' }} </h1>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-md-12">
        <app-selection-filter #filter *ngIf="motoristas" [lista]="motoristas" place="Motorista"
        placeholderLabel="Encontrar motorista..." noEntriesFoundLabel="Nenhum motorista encontrado"
        filtro="motorista" removerEspaco="true" estilo="outline" (objetoSelecionado)="aoSelecionar($event)"
        [idSelecionado]="idObjetoSelecionado"></app-selection-filter>
        <a mat-button color="primary" (click)="removerMotorista()">Remover motorista</a>
      </div>
    </div>
    <div>
      <div class="col-md-12" *ngIf="!alterando" style="margin-top: 10px;">
        <mat-checkbox [(ngModel)]="alterar" [ngModelOptions]="{standalone: true}" (change)="mudancaAlterar()">Alterar datas e/ou horários</mat-checkbox>
      </div>
    </div>
    <ng-container *ngIf="alterar">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput [min]="minDateInicial" [matDatepicker]="picker" formControlName="start" readonly placeholder="Data inicial*">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker readonly="false"></mat-datepicker>
            <mat-error>Informe a data inicial</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Hora inicial*</mat-label>
            <mat-select formControlName="horaInicial">
                <mat-option *ngFor="let hora of horarios" [value]="hora"> {{ hora.horario }} </mat-option>
            </mat-select>
            <mat-error>Informe a hora inicial</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput [min]="start.value" [matDatepicker]="picker2" formControlName="end" readonly placeholder="Data final*">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 readonly="false"></mat-datepicker>
            <mat-error>Informe a data final</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Hora final*</mat-label>
            <mat-select formControlName="horaFinal" [errorStateMatcher]="confirmValidMatcher">
                <mat-option *ngFor="let hora of horarios" [value]="hora"> {{ hora.horario }} </mat-option>
            </mat-select>
            <mat-error *ngIf="horaFinal.hasError('required')">Informe a hora final</mat-error>
            <mat-error *ngIf="!horaFinal.hasError('required')">Hora final deve ser maior que a inicial</mat-error>
          </mat-form-field>
        </div>
      </div>
    </ng-container>
  </div>
  <div mat-dialog-actions align="end">
    <button [disabled]="botoesDesabilitados" mat-button mat-dialog-close>Cancelar</button>
    <button [disabled]="botoesDesabilitados" mat-raised-button color="primary" mat-button cdkFocusInitial>{{ alterando ? 'Alterar' : 'Aprovar' }}</button>
  </div>
</form>
