<h1 mat-dialog-title>Atenção</h1>
<div mat-dialog-content>
  <p style="text-align: justify"> {{data.message}} </p>
  <p *ngFor="let reserva of data.reservas">
    <span> -> <b>{{reserva.title}}</b>: {{reserva.start | date: 'dd/MM/yyyy HH:mm:ss'}} - {{reserva.end | date: 'dd/MM/yyyy HH:mm:ss'}} <br></span>
  </p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Ok</button>
</div>
