<form (ngSubmit)="cancelar()" [formGroup]="cancelamentoFormGroup">
  <h1 mat-dialog-title>Confirmação</h1>
  <div mat-dialog-content>
    <p style="text-align: justify">A reserva selecionada está vinculada a outras reservas. Deseja cancelar somente a
      reserva selecionada ou também todas as reservas vinculadas à selecionada?</p>
    <mat-radio-group aria-label="Select an option" class="example-radio-group" formControlName="tipo">
      <mat-radio-button value="one">Cancelar apenas a selecionada</mat-radio-button>
      <mat-radio-button value="all">Cancelar todas</mat-radio-button>
      <mat-error *ngIf="cancelamentoFormGroup.invalid && acionou">Selecione uma opção</mat-error>
    </mat-radio-group>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Voltar</button>
    <button mat-raised-button color="primary" cdkFocusInitial>Continuar</button>
  </div>
</form>
