<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-md-6">
        <h3>Trilha de auditoria</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-sm-6 col-12">
        <mat-form-field>
          <input matInput [max]="maxDateInicial" [formControl]="dataInicial" [matDatepicker]="picker"
            (dateChange)="filtroStatus()" (click)="picker.open()" readonly placeholder="Data inicial">
          <button *ngIf="dataInicial.value" mat-button matSuffix mat-icon-button aria-label="Clear"
            (click)="dataInicial.setValue(null); filtroStatus()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker readonly="false"></mat-datepicker>
          <mat-hint align="start">Filtro por <b>Data inicial</b></mat-hint>

        </mat-form-field>

      </div>
      <div class="col-lg-2 col-sm-6 col-12">
        <mat-form-field>
          <input matInput [min]="dataInicial.value" [max]="maxDateInicial" [formControl]="dataFinal"
            (dateChange)="filtroStatus()" [matDatepicker]="picker2" (click)="picker2.open()" readonly
            placeholder="Data final">
          <button *ngIf="dataFinal.value" mat-button matSuffix mat-icon-button aria-label="Clear"
            (click)="dataFinal.setValue(null); filtroStatus()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 readonly="false"></mat-datepicker>
          <mat-error>Data final deve ser maior que a inicial</mat-error>
          <mat-hint align="start">Filtro por <b>Data final</b></mat-hint>
        </mat-form-field>
      </div>
      <div class="col-lg-2 col-sm-6 col-12">
        <mat-form-field>
          <mat-select placeholder="Categoria" [(value)]="selectedCategoria" (selectionChange)="filtroStatus()">
            <mat-option value="all">Todas</mat-option>
            <mat-option value="Cadastro">Cadastro</mat-option>
            <mat-option value="Edição">Edição</mat-option>
            <mat-option value="Exclusão">Exclusão</mat-option>
          </mat-select>
          <mat-hint align="start">Filtro por <b>Categoria</b></mat-hint>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <mat-form-field>
          <mat-select placeholder="Módulo" [(value)]="selectedModulo" (selectionChange)="filtroStatus()">
            <mat-option value="all">Todos</mat-option>
            <mat-option value="MOTORISTA">Motorista</mat-option>
            <mat-option value="VEICULO">Veículo</mat-option>
            <mat-option value="RESERVA_DEPENDENCIA">Reserva de dependência</mat-option>
            <mat-option value="RESERVA_VEICULO">Reserva de veículo</mat-option>
          </mat-select>
          <mat-hint align="start">Filtro por <b>Módulo</b></mat-hint>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <mat-form-field>
          <input matInput #busca autocomplete="off" (keyup)="filtroStatus()" placeholder="Usuário">
          <button mat-button *ngIf="busca && busca.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="busca.value=''; filtroStatus()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint align="start">Buscar por <b>Usuário</b></mat-hint>
        </mat-form-field>
      </div>
    </div>
    <br>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="trilhas">

        <ng-container matColumnDef="data">
          <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Data"> {{element.data | date: 'dd/MM/yyyy HH:mm:ss'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="categoria">
          <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Categoria" class="texto-categoria"
            [ngClass]="element.categoria === 'Cadastro' ? 'cor-cadastro' : element.categoria === 'Edição' ? 'cor-edicao' : 'cor-exclusao'">
            {{element.categoria}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="modulo">
          <mat-header-cell *matHeaderCellDef> Módulo </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Módulo">
            <ng-container *ngIf="element.tipo === 'RESERVA_DEPENDENCIA'">Reserva de dependência</ng-container>
            <ng-container *ngIf="element.tipo === 'RESERVA_VEICULO'">Reserva de veículo</ng-container>
            <ng-container *ngIf="element.tipo === 'MOTORISTA'">Motorista</ng-container>
            <ng-container *ngIf="element.tipo === 'VEICULO'">Veículo</ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descricao">
          <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Descrição"> {{ element.descricao.substring(0, 35) }}...
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="usuario">
          <mat-header-cell *matHeaderCellDef> Usuário </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Usuário"> {{element.usuario.login}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Ação">
            <button mat-icon-button matTooltip="Visualizar" matTooltipPosition="above" (click)="visualizar(element)">
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" id="toggle-1"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <!-- <mat-paginator></mat-paginator> -->
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
