table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.texto-categoria {
  font-weight: bold;
}

.cor-cadastro {
  color: rgb(0, 166, 90);
}

.cor-edicao {
  color: #1e88e5;
}

.cor-exclusao {
  color: #dc3545;
}

.pagination-container {
	display: flex;
	align-items: center;
	justify-content: center;

	button:first-child {
		margin-right: 5px;
	}
}
