// // .login-container {
// // 	padding-top: 80px;
// // 	height: 100vh;
// // 	position: relative;

// // 	img.bg {
// // 		object-fit: contain;
// // 		width: 100%;
// // 		position: absolute;
// // 		bottom: 0;
// // 	}

// // 	.mat-progress-bar {
// // 		position: absolute;
// // 		top: 0;
// // 	}
// // }

// .login-box {
// 	box-shadow: 0px 1px 7px 0px rgba(48,48,48,0.3);;
// 	padding: 25px;
// }

// .button-login {
//   width: 100%;
//   margin-bottom: 20px;
//   background-color: #00a0e8;
//   font-size: 15px;
// }

// .login-container {
// 	padding-top: 80px;
// 	height: 100vh;
//   position: relative;
//   width: 100% !important;

// 	img.bg {
// 		object-fit: contain;
// 		width: 100%;
// 		position: absolute;
// 		bottom: 0;
// 	}

// 	.mat-progress-bar {
// 		position: absolute;
// 		top: 0;
// 	}
// }

// .link {
//   font-size: 13px;
//   color: #00a0e8;
// }

// body {
//   background-color: green;
// }
