<div class="login-container">
  <div class="container">
    <div class="row justify-content-center">
      <img class="img-fluid" src="/assets/images/teste_logo.png">
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8 col-sm-10 col-11 login-box">
        <m-auth-notice></m-auth-notice>
        <form (ngSubmit)="login()" [formGroup]="formGroupLogin">
          <mat-form-field>
            <mat-label>Usuário</mat-label>
            <input matInput type="text" placeholder="Usuário" autocomplete="off" formControlName="login" required>
            <mat-error>Informe o usuário</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password" placeholder="Senha" autocomplete="off" formControlName="senha" required>
            <mat-error>Informe a senha</mat-error>
          </mat-form-field>

          <div>
            <!-- <br> -->
            <button mat-flat-button color="primary" class="button-login" [disabled]="!botaoHabilitado">LOGIN</button>
            <a href="javascript:;" routerLink="/recuperar-senha">
              <span class="link">Esqueci minha senha</span>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
