<div class="row">
    <div class="col-md-12">
        <mat-form-field [appearance]="estilo" [ngClass]="removerEspaco ? 'remover-espaco' : ''">
            <mat-label> {{ place }} </mat-label>
            <mat-select [formControl]="ctrl" [placeholder]="place" #singleSelect (selectionChange)="changeObjeto($event)" [required]="messageErro">
                <mat-option>
                    <ngx-mat-select-search [formControl]="filterCtrl" [noEntriesFoundLabel]="noEntriesFoundLabel" [placeholderLabel]="placeholderLabel"></ngx-mat-select-search>
                </mat-option>

                <mat-option *ngFor="let obj of filteredArray | async" [value]="obj">
                    {{ filtro === 'dependencia' ? obj.nome + ' | ' + obj.bloco.nome : filtro === 'veiculo' ? obj.modelo + ' | ' + obj.marca + ' | ' + obj.placa : filtro === 'servidor' ? obj.login + ' | ' + obj.nome + ' ' + obj.sobrenome : filtro === 'turma' ? obj.nome : obj.nome + ' ' + obj.sobrenome}}
                </mat-option>
            </mat-select>
            <mat-error> {{ messageErro }} </mat-error>
        </mat-form-field>
    </div>
</div>
