<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="row">
        <h3 class="col-md-12"> <a class="rota-anterior" routerLink="/relatorios">Relatórios</a> >
          Reservas de dependência</h3>
      </div>
    </div>
    <br>
    <mat-tab-group>
      <mat-tab label="Por dependência">
        <br>
        <form (ngSubmit)="gerarRelatorioPorDependencia()" [formGroup]="formGroupRelatorioPorDependencia">
          <div class="row" style="width: 100%">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data inicial</mat-label>
                <input matInput [matDatepicker]="picker1" (click)="picker1.open()" readonly formControlName="inicio" placeholder="Início"
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 readonly="false"></mat-datepicker>
                <mat-error>Informe a data inicial</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data final</mat-label>
                <input matInput [min]="inicioRelatorioPorDependencia.value" [matDatepicker]="picker2" (click)="picker2.open()" readonly
                  formControlName="fim" placeholder="Fim" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 readonly="false"></mat-datepicker>
                <mat-error>Informe a data final</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <app-selection-filter *ngIf="dependencias" [lista]="dependencias" place="Dependência"
                (objetoSelecionado)="aoSelecionarDependenciaRelatorioPorDependencia($event)" filtro="dependencia"
                estilo="outline" messageErro="Selecione a dependência" placeholderLabel="Encontrar dependência..."
                noEntriesFoundLabel="Nenhuma dependência encontrada">
              </app-selection-filter>
            </div>
          </div>
          <div class="align-botao">
            <button mat-stroked-button color="primary" [disabled]="botoesDesabilitados">Gerar relatório</button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Por servidor">
        <br>
        <form (ngSubmit)="gerarRelatorioPorServidor()" [formGroup]="formGroupRelatorioPorServidor">
          <div class="row" style="width: 100%">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data inicial</mat-label>
                <input matInput [matDatepicker]="picker3" (click)="picker3.open()" readonly formControlName="inicio" placeholder="Início"
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3 readonly="false"></mat-datepicker>
                <mat-error>Informe a data inicial</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data final</mat-label>
                <input matInput [min]="inicioRelatorioPorServidor.value" [matDatepicker]="picker4" (click)="picker4.open()" readonly
                  formControlName="fim" placeholder="Fim" required>
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4 readonly="false"></mat-datepicker>
                <mat-error>Informe a data final</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <app-selection-filter *ngIf="usuarios" [lista]="usuarios" place="Servidor" filtro="servidor"
                estilo="outline" messageErro="Selecione o servidor"
                (objetoSelecionado)="aoSelecionarServidorRelatorioPorServidor($event)"
                [idSelecionado]="idObjetoSelecionado" placeholderLabel="Encontrar servidor..."
                noEntriesFoundLabel="Nenhum servidor encontrado">
              </app-selection-filter>
            </div>
          </div>
          <div class="align-botao">
            <button mat-stroked-button color="primary" [disabled]="botoesDesabilitados">Gerar relatório</button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Por turma">
        <br>
        <form (ngSubmit)="gerarRelatorioPorTurma()" [formGroup]="formGroupRelatorioPorTurma">
          <div class="row" style="width: 100%">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data inicial</mat-label>
                <input matInput [matDatepicker]="picker5" (click)="picker5.open()" readonly formControlName="inicio" placeholder="Início"
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                <mat-datepicker #picker5 readonly="false"></mat-datepicker>
                <mat-error>Informe a data inicial</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data final</mat-label>
                <input matInput [min]="inicioRelatorioPorTurma.value" [matDatepicker]="picker6" (click)="picker6.open()" readonly
                  formControlName="fim" placeholder="Fim" required>
                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                <mat-datepicker #picker6 readonly="false"></mat-datepicker>
                <mat-error>Informe a data final</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <app-selection-filter *ngIf="turmas" [lista]="turmas" place="Turma" filtro="turma" estilo="outline"
                messageErro="Selecione a turma" [idSelecionado]="idObjetoSelecionado"
                (objetoSelecionado)="aoSelecionarTurmaRelatorioPorTurma($event)" placeholderLabel="Encontrar turma..."
                noEntriesFoundLabel="Nenhuma turma encontrada">
              </app-selection-filter>
            </div>
          </div>
          <div class="align-botao">
            <button mat-stroked-button color="primary" [disabled]="botoesDesabilitados">Gerar relatório</button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Por tipo">
        <br>
        <form (ngSubmit)="gerarRelatorioPorTipo()" [formGroup]="formGroupRelatorioPorTipo">
          <div class="row" style="width: 100%">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data inicial</mat-label>
                <input matInput [matDatepicker]="picker7" (click)="picker7.open()" readonly formControlName="inicio" placeholder="Início"
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                <mat-datepicker #picker7 readonly="false"></mat-datepicker>
                <mat-error>Informe a data inicial</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data final</mat-label>
                <input matInput [min]="inicioRelatorioPorTipo.value" [matDatepicker]="picker8" (click)="picker8.open()" readonly
                  formControlName="fim" placeholder="Fim" required>
                <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                <mat-datepicker #picker8 readonly="false"></mat-datepicker>
                <mat-error>Informe a data final</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="tipo" required>
                  <mat-option value="1">Aula</mat-option>
                  <mat-option value="0">Não seja aula</mat-option>
                </mat-select>
                <mat-error>Selecione o tipo</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="align-botao">
            <button mat-stroked-button color="primary" [disabled]="botoesDesabilitados">Gerar relatório</button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Completo">
        <br>
        <form (ngSubmit)="gerar()" [formGroup]="formGroupRelatorio">
          <div class="row" style="width: 100%">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data inicial</mat-label>
                <input matInput [matDatepicker]="picker" (click)="picker.open()" readonly formControlName="inicio" placeholder="Início"
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker readonly="false"></mat-datepicker>
                <mat-error>Informe a data inicial</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data final</mat-label>
                <input matInput [min]="inicio.value" [matDatepicker]="pickerFim" (click)="pickerFim.open()" readonly formControlName="fim"
                  placeholder="Fim" required>
                <mat-datepicker-toggle matSuffix [for]="pickerFim"></mat-datepicker-toggle>
                <mat-datepicker #pickerFim readonly="false"></mat-datepicker>
                <mat-error>Informe a data final</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <app-selection-filter #dependencia *ngIf="dependencias" [lista]="dependencias" place="Dependência"
                filtro="dependencia" estilo="outline" (objetoSelecionado)="aoSelecionarDependencia($event)"
                removerEspaco="true" placeholderLabel="Encontrar dependência..."
                noEntriesFoundLabel="Nenhuma dependência encontrada">
              </app-selection-filter>
              <a mat-button color="primary" (click)="removerDependencia()">Limpar</a>
            </div>
          </div>
          <div class="row" style="width: 100%">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="tipo">
                  <mat-option value="null">Todos</mat-option>
                  <mat-option value="1">Aula</mat-option>
                  <mat-option value="0">Não seja aula</mat-option>
                </mat-select>
                <mat-error>Selecione o tipo</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Utilizador</mat-label>
                <mat-select formControlName="utilizador" (selectionChange)="changeUtilizador()">
                  <mat-option value="todos">Todos</mat-option>
                  <mat-option value="servidor">Servidor</mat-option>
                  <mat-option value="turma">Turma</mat-option>
                </mat-select>
                <mat-error>Selecione o utilizador</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <app-selection-filter #d *ngIf="utilizador.value === 'servidor' && usuarios" [lista]="usuarios"
                place="Servidor" filtro="servidor" estilo="outline" messageErro="Selecione o servidor"
                [idSelecionado]="idObjetoSelecionado" (objetoSelecionado)="aoSelecionarServidor($event)"
                placeholderLabel="Encontrar servidor..." noEntriesFoundLabel="Nenhum servidor encontrado">
              </app-selection-filter>

              <app-selection-filter #formTurma *ngIf="utilizador.value === 'turma' && turmas" [lista]="turmas"
                place="Turma" filtro="turma" estilo="outline" messageErro="Selecione a turma"
                [idSelecionado]="idObjetoSelecionado" (objetoSelecionado)="aoSelecionarTurma($event)"
                placeholderLabel="Encontrar turma..." noEntriesFoundLabel="Nenhuma turma encontrada">
              </app-selection-filter>
            </div>
          </div>
          <div class="align-botao">
            <button mat-stroked-button color="primary" [disabled]="botoesDesabilitados">Gerar relatório</button>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
