.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.align-botao {
  display: flex;
	align-items: center;
	justify-content: center;
}

.rota-anterior {
  color: #757575;
}

.mat-expansion-panel-header {
  background: #d4edda !important;
  border-color: #c3e6cb !important;
  color: rgba(0, 0, 0, 0.87) !important;
  border: 1px solid transparent;
}

.mat-expanded:focus {
  background: #d4edda !important;
  border-color: #c3e6cb !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.mat-expansion-panel-header-title {
  color: #155724;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #1e88e5;
}

.mat-stroked-button:not([disabled]) {
border-color: #1e88e5;
}

/* .mat-form-field {
  font-size: 2em !important;
} */
