<form (ngSubmit)="salvar()" [formGroup]="newReservaDependenciaFormGroup">
  <h1 mat-dialog-title>
    <mat-form-field>
      <input matInput #message maxlength="25" formControlName="title" placeholder="Título*">
      <mat-error>Informe o título</mat-error>
      <mat-hint align="end">{{message.value.length}} / 25</mat-hint>
    </mat-form-field>
  </h1>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field *ngIf="!editando">
          <input matInput readonly="true" formControlName="start" [value]="newReservaDependenciaFormGroup.controls.start.value | date: 'dd/MM/yyyy'" placeholder="Data*">
        </mat-form-field>
        <mat-form-field *ngIf="editando">
          <input matInput [min]="minDateInicial" [matDatepicker]="picker" (click)="picker.open()" formControlName="start" readonly placeholder="Data*">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker readonly="false"></mat-datepicker>
          <mat-error>Informe a data inicial</mat-error>
        </mat-form-field>
      </div>
      <ng-container formGroupName="horaFormGroup">
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>Hora inicial</mat-label>
            <mat-select formControlName="horarioInicio">
              <mat-option *ngFor="let hora of horarios" [value]="hora.valor"> {{ hora.horario }} </mat-option>
            </mat-select>
            <mat-error> Informe a hora inicial </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>Hora final</mat-label>
            <mat-select formControlName="horarioTermino" [errorStateMatcher]="confirmValidMatcher">
              <mat-option *ngFor="let hora of horarios" [value]="hora.valor"> {{ hora.horario }} </mat-option>
            </mat-select>
            <mat-error *ngIf="horarioTermino.hasError('required')">Informe a hora final</mat-error>
            <mat-error *ngIf="!horarioTermino.hasError('required')">Hora final deve ser maior que a inicial</mat-error>
          </mat-form-field>
        </div>
      </ng-container>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <textarea matInput placeholder="Observação" formControlName="observacao"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <a mat-button (click)="onNoClick()">Cancelar</a>
    <button mat-raised-button color="primary" cdkFocusInitial>Salvar</button>
  </div>
</form>
