<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-md-6">
        <h3>Relatórios</h3>
      </div>
    </div>
    <div class="row align-botao">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Reservas dependência</mat-card-title>
          <mat-card-subtitle style="color: green;">5 relatórios</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/final.png" alt="Photo of a Shiba Inu">
        <mat-card-actions align="end" style="margin-right: 5px !important; margin-bottom: 5px !important;">
          <button mat-raised-button style="background-color: #9bd3a8 !important" routerLink="/relatorios/reservas-dependencia">ABRIR</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Reservas veículo</mat-card-title>
          <mat-card-subtitle style="color: green;">5 relatórios</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/veículo4.png" alt="Photo of a Shiba Inu">
        <mat-card-actions align="end" style="margin-right: 5px !important; margin-bottom: 5px !important;">
          <button mat-raised-button style="background-color: #9bd3a8 !important" routerLink="/relatorios/reservas-veiculo">ABRIR</button>
        </mat-card-actions>
      </mat-card>
      <!-- <button routerLink="/relatorios/reservas-dependencia" mat-stroked-button color="primary"
        style="margin-right: 5px">RESERVAS DE DEPENDÊNCIA<mat-icon>home</mat-icon></button>
      <button routerLink="/relatorios/reservas-veiculo" mat-stroked-button color="primary">RESERVAS DE VEÍCULO<mat-icon>
          directions_bus</mat-icon></button> -->
    </div>
  </mat-card-content>
</mat-card>
