.align-botao {
  display: flex;
	align-items: center;
	justify-content: center;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #1e88e5;
}

.mat-stroked-button:not([disabled]) {
border-color: #1e88e5;
}

.example-card {
  max-width: 400px;
  /* background: #eceaea; */
  /* background: #d4cfcf; */
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5) !important;
}

.mat-card .mat-card-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.example-card {
  max-width: 270px;
}

.mat-card .mat-card-header {
  padding: 0px;
  padding-top: 12px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
/*
.mat-card-image {
  width: 250px;
  margin: 0 0px 0px 0px;
} */
