<mat-card>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <h3 class="col-md-12"> <a class="rota-anterior" routerLink="/veiculos">Veículos</a> >
          {{editando ? 'Edição' : 'Novo'}}</h3>
      </div>
      <br>
      <form (ngSubmit)="salvar()" [formGroup]="formGroupVeiculo">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="mat-form-field-fluid">
              <mat-label>Tipo</mat-label>
              <input matInput formControlName="modelo" placeholder="Tipo" required>
              <mat-error>Informe o tipo</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="mat-form-field-fluid">
              <mat-label>Marca</mat-label>
              <input matInput formControlName="marca" placeholder="Marca" required>
              <mat-error>Informe a marca</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="mat-form-field-fluid">
              <mat-label>Placa</mat-label>
              <input matInput mask="SSS-0000" formControlName="placa" placeholder="Placa" required>
              <mat-error *ngIf="placa.hasError('required')">Informe a placa</mat-error>
              <mat-error *ngIf="!placa.hasError('required')">Informe uma placa válida</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6" [hidden]="!editando">
            <label class="col-form-label">Status</label>
            <div class="select-inputs">
              <mat-radio-group formControlName="ativo">
                <mat-radio-button [value]=true color="primary">Disponível</mat-radio-button>
                <mat-radio-button [value]=false color="primary">Indisponível</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="mat-form-field-fluid">
              <mat-label>Observação</mat-label>
              <textarea matInput formControlName="observacao" placeholder="Observação"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-12" align="end">
            <button mat-button routerLink="/veiculos" style="margin-right: 10px;">Voltar</button>
            <button mat-flat-button color="primary">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
