<h1 mat-dialog-title>Atenção</h1>
<div mat-dialog-content>
  <p style="text-align: justify"> {{data.message}} </p>
  <p *ngFor="let reserva of data.reservas">
    <span> -> <b>{{reserva.title}}</b>:
      <ng-container *ngIf="reserva.horarioReserva">{{reserva.start | date: 'dd/MM/yyyy'}} - {{reserva.end | date: 'dd/MM/yyyy'}}</ng-container>
      <ng-container *ngIf="!reserva.horarioReserva">{{reserva.start | date: 'dd/MM/yyyy HH:mm:ss'}} - {{reserva.end | date: 'dd/MM/yyyy HH:mm:ss'}}</ng-container>
      <br>
      <ng-container *ngIf="reserva.horarioReserva">
        <span *ngFor="let horario of reserva.horarioReserva" style="margin-left: 20px;">
          <ng-container *ngIf="horario.diaSemana === 'Sun'">Domingo: </ng-container>
          <ng-container *ngIf="horario.diaSemana === 'Mon'">Segunda: </ng-container>
          <ng-container *ngIf="horario.diaSemana === 'Tue'">Terça: </ng-container>
          <ng-container *ngIf="horario.diaSemana === 'Wed'">Quarta: </ng-container>
          <ng-container *ngIf="horario.diaSemana === 'Thu'">Quinta: </ng-container>
          <ng-container *ngIf="horario.diaSemana === 'Fri'">Sexta: </ng-container>
          <ng-container *ngIf="horario.diaSemana === 'Sat'">Sábado: </ng-container>
          {{ horario.horarioInicio }} - {{ horario.horarioTermino }}; <br> </span>
      </ng-container>
    </span>
  </p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Ok</button>
</div>
