<h1 mat-dialog-title>Auditoria</h1>
<div mat-dialog-content>
  <p style="text-align: justify">
    <span style="font-weight: bold;">Data:  </span> {{data.data | date: 'dd/MM/yyyy HH:mm:ss'}} <br>
    <span style="font-weight: bold;">Categoria:  </span> {{data.categoria}} <br>
    <span style="font-weight: bold;">Módulo: </span>
    <ng-container *ngIf="data.tipo === 'RESERVA_DEPENDENCIA'">Reserva de dependência</ng-container>
    <ng-container *ngIf="data.tipo === 'RESERVA_VEICULO'">Reserva de veículo</ng-container>
    <ng-container *ngIf="data.tipo === 'MOTORISTA'">Motorista</ng-container>
    <ng-container *ngIf="data.tipo === 'VEICULO'">Veículo</ng-container>
    <br>
    <span style="font-weight: bold;">Descrição:  </span> {{data.descricao}} <br>
    <span style="font-weight: bold;">Usuário:  </span> {{data.usuario.login}} <br>
  </p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Fechar</button>
</div>
