.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

table {
  width: 100%;
}

mat-radio-button {
    margin-right: 10px;
}

.select-inputs {
    margin-bottom: 25px;
}

mat-form-field {
  width: 100%;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #1e88e5;
}

.mat-stroked-button:not([disabled]) {
  border-color: #1e88e5;
}
