<mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <h3>Blocos</h3>
        </div>
        <div class="col-md-6">
          <button routerLink="/blocos/novo" mat-stroked-button color="primary" class="float-right">Adicionar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-7 col-12">
          <mat-form-field>
            <input matInput (keyup)="doFilter($event.target.value)" placeholder="Buscar">
            <mat-hint align="start">Filtro por <b>Nome</b></mat-hint>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="blocos">

          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Código"> {{element.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Nome"> {{element.nome}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Ação">
              <button mat-icon-button matTooltip="Editar" matTooltipPosition="above" [routerLink]="[element.id]">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Excluir" matTooltipPosition="above"
              (click)="openExclusaoDialog(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" id="toggle-1"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
