<h1 mat-dialog-title>Confirmação</h1>
<div mat-dialog-content>
  <p style="text-align: justify">Só é possível ter um usuário "Master" no sistema. Ao alterar o usuário {{ data }} para "Master", você passará a ter as permissões de um "Usuário comum" e será deslogado do sistema.</p>
  <p style="text-align: justify">Deseja realmente alterar este usuário para "Master"?</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
