.example-h2 {
  margin: 10px;
}

.example-section {
  // display: flex;
  align-content: center;
  align-items: center;
  // height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.adicionarHorario {
  color: #00a0e8;
  cursor: pointer;
  font-size: 15px;
}

.erroDia {
  display: block;
  text-align: left;
  font-size: 75%;
  color: #e91e63;
  font-weight: 400;
  line-height: 1.125;
  font-family: Poppins, sans-serif;
  margin-top: -2%;
}

.teste {
  // padding: 0 .75em 0 .75em;
  margin-top: 1.40em;
  // position: relative;
  // width: 100%;
  font-family: Poppins, sans-serif;
}

.align-toggle-aula {
  margin-top: -10px;
  margin-bottom: 10px;
}
