<form [formGroup]="novaReservaFormGroup" (ngSubmit)="salvar()">
  <h1 mat-dialog-title>
    <mat-form-field>
      <input matInput #message maxlength="25" formControlName="title" placeholder="Título*">
      <mat-error>Informe o título</mat-error>
      <mat-hint align="end">{{message.value.length}} / 25</mat-hint>
    </mat-form-field>
  </h1>
  <div class="row" *ngIf="isCoordenador()" style="margin-top: -15px;">
    <div class="col-md-12">
      <span style="font-size: 0.8em; font-style: italic;">*Reservas de aula têm prioridade sobre as demais
        reservas</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" *ngIf="isCoordenador()">
      <mat-slide-toggle class="teste" formControlName="aula" (toggleChange)="changeAula()">Aula</mat-slide-toggle>
    </div>

    <div class="col-md-4" *ngIf="aula.value">
      <mat-form-field appearance="outline">
        <mat-label>Utilizador</mat-label>
        <mat-select formControlName="utilizador" (selectionChange)="changeUtilizador()" [required]="aula.value">
          <mat-option value="servidor">
            Servidor
          </mat-option>
          <mat-option value="turma">
            Turma
          </mat-option>
        </mat-select>
        <mat-error>Selecione o utilizador</mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <app-selection-filter *ngIf="utilizador.value === 'servidor' && usuarios && aula.value === true"
        [lista]="usuarios" place="Servidor" filtro="servidor" estilo="outline" messageErro="Selecione o servidor"
        [idSelecionado]="idObjetoSelecionado" (objetoSelecionado)="aoSelecionar($event)"
        placeholderLabel="Encontrar servidor..." noEntriesFoundLabel="Nenhum servidor encontrado">
      </app-selection-filter>
      <app-selection-filter *ngIf="utilizador.value === 'turma' && turmas && aula.value === true" [lista]="turmas"
        place="Turma" filtro="turma" estilo="outline" messageErro="Selecione a turma"
        [idSelecionado]="idObjetoSelecionado" (objetoSelecionado)="aoSelecionar($event)"
        placeholderLabel="Encontrar turma..." noEntriesFoundLabel="Nenhuma turma encontrada"></app-selection-filter>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Data inicial*</mat-label>
        <input matInput [min]="minDateInicial" [matDatepicker]="picker" formControlName="start" readonly
          placeholder="Data inicial*" (dateChange)="alteracaoDatas()" (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker readonly="false"></mat-datepicker>
        <mat-error>Informe a data inicial</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Data final*</mat-label>
        <input matInput [min]="start.value" [matDatepicker]="picker2" formControlName="end" readonly
          placeholder="Data final*" (dateChange)="alteracaoDatas()" (click)="picker2.open()">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 readonly="false"></mat-datepicker>
        <mat-error>Informe a data final</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section class="example-section">
        <mat-checkbox class="example-margin" [disabled]="!domingoHabilitado" [(ngModel)]="domingo"
          (change)="verificarSelecao()" [ngModelOptions]="{standalone: true}">Domingo</mat-checkbox>
        <mat-checkbox class="example-margin" [disabled]="!segundaHabilitado" [(ngModel)]="segunda"
          (change)="verificarSelecao()" [ngModelOptions]="{standalone: true}">Segunda</mat-checkbox>
        <mat-checkbox class="example-margin" [disabled]="!tercaHabilitado" [(ngModel)]="terca"
          (change)="verificarSelecao()" [ngModelOptions]="{standalone: true}">Terça</mat-checkbox>
        <mat-checkbox class="example-margin" [disabled]="!quartaHabilitado" [(ngModel)]="quarta"
          (change)="verificarSelecao()" [ngModelOptions]="{standalone: true}">Quarta</mat-checkbox>
        <mat-checkbox class="example-margin" [disabled]="!quintaHabilitado" [(ngModel)]="quinta"
          (change)="verificarSelecao()" [ngModelOptions]="{standalone: true}">Quinta</mat-checkbox>
        <mat-checkbox class="example-margin" [disabled]="!sextaHabilitado" [(ngModel)]="sexta"
          (change)="verificarSelecao()" [ngModelOptions]="{standalone: true}">Sexta</mat-checkbox>
        <mat-checkbox class="example-margin" [disabled]="!sabadoHabilitado" [(ngModel)]="sabado"
          (change)="verificarSelecao()" [ngModelOptions]="{standalone: true}">Sábado</mat-checkbox>
      </section>
      <mat-error *ngIf="nenhumDiaSelecionado" class="erroDia">Selecione o(s) dia(s)</mat-error>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-tab-group mat-align-tabs="left">
        <mat-tab label="Domingo" *ngIf="domingo">
          <br>
          <app-adicionar-horario #componentDomingo diaSemana="Sun" [horariosEdicao]="horariosDomingo">
          </app-adicionar-horario>
        </mat-tab>
        <mat-tab label="Segunda" *ngIf="segunda">
          <br>
          <app-adicionar-horario #componentSegunda diaSemana="Mon" [horariosEdicao]="horariosSegunda">
          </app-adicionar-horario>
        </mat-tab>
        <mat-tab label="Terça" *ngIf="terca">
          <br>
          <app-adicionar-horario #componentTerca diaSemana="Tue" [horariosEdicao]="horariosTerca">
          </app-adicionar-horario>
        </mat-tab>
        <mat-tab label="Quarta" *ngIf="quarta">
          <br>
          <app-adicionar-horario #componentQuarta diaSemana="Wed" [horariosEdicao]="horariosQuarta">
          </app-adicionar-horario>
        </mat-tab>
        <mat-tab label="Quinta" *ngIf="quinta">
          <br>
          <app-adicionar-horario #componentQuinta diaSemana="Thu" [horariosEdicao]="horariosQuinta">
          </app-adicionar-horario>
        </mat-tab>
        <mat-tab label="Sexta" *ngIf="sexta">
          <br>
          <app-adicionar-horario #componentSexta diaSemana="Fri" [horariosEdicao]="horariosSexta">
          </app-adicionar-horario>
        </mat-tab>
        <mat-tab label="Sábado" *ngIf="sabado">
          <br>
          <app-adicionar-horario #componentSabado diaSemana="Sat" [horariosEdicao]="horariosSabado">
          </app-adicionar-horario>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Observação</mat-label>
        <textarea matInput placeholder="Observação" formControlName="observacao"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <a mat-button (click)="onNoClick()">Cancelar</a>
    <button mat-raised-button color="primary" cdkFocusInitial>Salvar</button>
  </div>
</form>
