<form [formGroup]="horariosFormGroup" #formRef="ngForm">
  <div formArrayName="horariosArray">
    <div class="row align-items-center justify-content-center" style="width: 100%; margin-bottom: 8px;" *ngFor="let group of horariosArray.controls; let i = index" [formGroupName]="i">
      <div class="col-md-5">
        <mat-form-field appearance="outline">
          <mat-label>Hora inicial</mat-label>
          <mat-select formControlName="horarioInicio">
            <mat-option *ngFor="let hora of horarios" [value]="hora.valor">
              {{ hora.horario }}
            </mat-option>
          </mat-select>
          <mat-error> Informe a hora inicial </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field appearance="outline">
          <mat-label>Hora final</mat-label>
          <mat-select formControlName="horarioTermino" [errorStateMatcher]="confirmValidMatcher">
            <mat-option *ngFor="let hora of horarios" [value]="hora.valor">
              {{ hora.horario }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="group.controls.horarioTermino.hasError('required')">Informe a hora final</mat-error>
          <mat-error *ngIf="!group.controls.horarioTermino.hasError('required')">Hora final deve ser maior que a inicial</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-1">
        <i class="mat-icon material-icons" style="cursor: pointer" (click)="deleteBudgetItem(i)">close</i>
      </div>
    </div>
    <div class="row" style="width: 100%; margin-top: -10px">
      <div class="col-md-4">
        <div class="adicionarHorario" (click)="addBudgetItem(null)">Adicionar outro horário</div>
      </div>
    </div>
  </div>
</form>
