<mat-card>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <h3 class="col-md-12"> <a class="rota-anterior" routerLink="/dependencias">Dependências</a> >
          {{editando ? 'Edição' : 'Nova'}}</h3>
      </div>
      <br>
      <form (ngSubmit)="salvar()" [formGroup]="formGroupDependencia">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="mat-form-field-fluid">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome" placeholder="Nome" required>
              <mat-error>Informe o nome</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <ng-container formGroupName="bloco">
              <mat-form-field appearance="outline" class="mat-form-field-fluid">
                <mat-label>Bloco</mat-label>
                <mat-select formControlName="id" placeholder="Bloco" required>
                  <mat-option>Selecione</mat-option>
                  <mat-option *ngFor="let bl of blocos" [value]="bl.id">{{ bl.nome }}</mat-option>
                </mat-select>
                <mat-error>Selecione o bloco</mat-error>
              </mat-form-field>
            </ng-container>
          </div>
          <div class="col-md-6" [hidden]="!editando">
            <label class="col-form-label">Status</label>
            <div class="select-inputs">
              <mat-radio-group formControlName="ativo">
                <mat-radio-button [value]=true color="primary">Ativa</mat-radio-button>
                <mat-radio-button [value]=false color="primary">Inativa</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="col-md-12" align="end">
            <button mat-button routerLink="/dependencias" style="margin-right: 10px;">Voltar</button>
            <button mat-flat-button color="primary">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
