mat-radio-button, mat-checkbox {
	margin-right: 10px;
}

.select-inputs {
	margin-bottom: 25px;
}

mat-form-field {
  width: 100%;
}

.rota-anterior {
    color: #757575;
}

.rota-anterior:hover {
    text-decoration: underline
}

.mat-form-field-subscript-wrapper-tipo {
  font-size: 75%;
  margin-top: -1%;
}