<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-md-6">
        <h3>Motoristas</h3>
      </div>
      <div class="col-md-6">
        <button routerLink="/motoristas/novo" mat-stroked-button color="primary" class="float-right">Adicionar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-5 col-12">
        <mat-form-field>
          <mat-select placeholder="Status" [(value)]="selected" (selectionChange)="filtroStatus()">
            <mat-option value="all">Todos</mat-option>
            <mat-option value="true">Ativo</mat-option>
            <mat-option value="false">Inativo</mat-option>
          </mat-select>
          <mat-hint align="start">Filtro por <b>Status</b></mat-hint>
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-sm-7 col-12">
        <mat-form-field [hidden]="filtro.filtroSelecionado != 'CPF'">
          <input matInput #buscaCpf mask="000.000.000-00" (keyup)="filtroStatus()" placeholder="Buscar">
          <button mat-button *ngIf="buscaCpf && buscaCpf.value" matSuffix mat-icon-button aria-label="Clear" (click)="buscaCpf.value=''; filtroStatus()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint align="start">Filtro por <span style="cursor: pointer" (click)="openFiltroDialog()"
              matTooltip="Alterar filtro" class="badge badge-info"> {{ filtro.filtroSelecionado }} </span></mat-hint>
        </mat-form-field>

        <mat-form-field [hidden]="filtro.filtroSelecionado === 'CPF'">
            <input matInput #busca autocomplete="off" (keyup)="filtroStatus()" placeholder="Buscar">
            <button mat-button *ngIf="busca && busca.value" matSuffix mat-icon-button aria-label="Clear" (click)="busca.value=''; filtroStatus()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-hint align="start">Filtro por <span style="cursor: pointer" (click)="openFiltroDialog()"
                matTooltip="Alterar filtro" class="badge badge-info"> {{ filtro.filtroSelecionado }} </span></mat-hint>
          </mat-form-field>
      </div>
    </div>
    <br>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="motoristas">

        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Código"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Nome"> {{element.nome}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sobrenome">
          <mat-header-cell *matHeaderCellDef> Sobrenome </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Sobrenome"> {{element.sobrenome}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cpf">
          <mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Cpf"> {{element.cpf | mask: '000.000.000-00' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ativo">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Status">
            <span style="cursor: pointer" (click)="openAtivacaoDialog(element)" *ngIf="!element.ativo"
              class="badge badge-danger" matTooltip="Ativar" matTooltipPosition="above">Inativo</span>
            <span style="cursor: pointer" (click)="openAtivacaoDialog(element)" *ngIf="element.ativo"
              class="badge badge-primary" matTooltip="Inativar" matTooltipPosition="above">Ativo</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="Ação">
            <button mat-icon-button matTooltip="Editar" matTooltipPosition="above"
              [routerLink]="[element.id]">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Excluir" matTooltipPosition="above"
              (click)="openExclusaoDialog(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" id="toggle-1"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    </div>
  </mat-card-content>
</mat-card>
