.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .rota-anterior {
    color: #757575;
}

// .rota-anterior:hover {
//     text-decoration: underline
// }

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.teste {
  float: right !important;
}
