<mat-card>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <h3 class="col-md-12"> <a class="rota-anterior" routerLink="/usuarios">Usuários</a> >
          {{editando ? 'Edição' : 'Novo'}}</h3>
      </div>
      <br>
      <form (ngSubmit)="salvar()" [formGroup]="formGroupUsuario">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="mat-form-field-fluid">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome" placeholder="Nome" required>
              <mat-error>Informe o nome</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="mat-form-field-fluid">
              <mat-label>Sobrenome</mat-label>
              <input matInput formControlName="sobrenome" placeholder="Sobrenome" required>
              <mat-error>Informe o sobrenome</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="mat-form-field-fluid" *ngIf="editando">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email" placeholder="E-mail">
              <mat-error>Informe o e-mail</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mat-form-field-fluid" *ngIf="!editando">
              <mat-label>E-mail</mat-label>
              <input matInput pattern="^[a-zA-Z0-9_.+-]+$" formControlName="email" type="text" placeholder="E-mail" required
                class="example-right-align" (keyup)="inserirLogin()">
              <span matSuffix class="teste">@ifnmg.edu.br</span>
              <mat-error>Informe o e-mail</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="mat-form-field-fluid">
              <mat-label>Login</mat-label>
              <input matInput formControlName="login">
              <mat-error>Informe o login</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Tipo de usuário</mat-label>
              <mat-select formControlName="role" required>
                <mat-option value="ROLE_USER">Servidor</mat-option>
                <mat-option value="ROLE_ADMIN">Coordenador</mat-option>
                <mat-option value="ROLE_APPROVER">Administrador das reservas de veículo</mat-option>
                <mat-option *ngIf="exibirOpcaoMaster()" value="ROLE_MASTER">Master</mat-option>
              </mat-select>
              <mat-error>Informe o tipo de usuário</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6" [hidden]="!editando">
            <label class="col-form-label">Status</label>
            <div class="select-inputs">
              <mat-radio-group formControlName="ativo" (change)="alteracaoStatus()">
                <mat-radio-button [value]=true color="primary">Ativo</mat-radio-button>
                <mat-radio-button [value]=false color="primary">Inativo</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="col-md-12" align="end">
            <button mat-button routerLink="/usuarios" style="margin-right: 10px;">Voltar</button>
            <button mat-flat-button color="primary">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
