<div mat-dialog-title>
  {{ reservaSelecionada ? reservaSelecionada.title : '' }}
</div>
<div mat-dialog-content *ngIf="reservaSelecionada">
  <div class="row">
    <div class="col-md-1">
      <i class="material-icons" matTooltip="Data e horário da reserva">calendar_today</i>
    </div>
    <div class="col-md-11">
      <ng-container *ngIf="!reservaSelecionada.usoContinuo">
        {{ reservaSelecionada.start | date: 'dd/MM/yyyy HH:mm:ss' }} -
        {{ reservaSelecionada.end | date: 'dd/MM/yyyy HH:mm:ss' }}
      </ng-container>
      <ng-container *ngIf="reservaSelecionada.usoContinuo">
        {{ data.start | date: 'dd/MM/yyyy HH:mm:ss' }} - {{ data.end | date: 'dd/MM/yyyy HH:mm:ss' }}
      </ng-container>
    </div>
  </div>
  <div class="row" *ngIf="reservaSelecionada.usuarioUtilizador">
    <div class="col-md-1">
      <i class="material-icons" matTooltip="Utilizador">person</i>
    </div>
    <div class="col-md-11">
      {{ reservaSelecionada.usuarioUtilizador.nome + ' ' + reservaSelecionada.usuarioUtilizador.sobrenome }}
      (utilizador)
    </div>
  </div>
  <div class="row" *ngIf="reservaSelecionada.observacao">
    <div class="col-md-1">
      <i class="material-icons" matTooltip="Observação">insert_comment</i>
    </div>
    <div class="col-md-11">
      {{ reservaSelecionada.observacao }}
    </div>
  </div>
  <div class="row" *ngIf="reservaSelecionada.aula">
    <div class="col-md-1">
      <i class="material-icons" matTooltip="Utilizador">school</i>
    </div>
    <div class="col-md-11">
      Reserva de aula
    </div>
  </div>
</div>
<div mat-dialog-actions align="end" *ngIf="reservaSelecionada && maiorQueDataAtual() && isUsuarioLogado() && reservaSelecionada.status.id === 1">
  <button mat-icon-button matTooltip="Editar reserva" matTooltipPosition="above"
    (click)="openAlterarDialog(reservaSelecionada)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Cancelar reserva" matTooltipPosition="above"
    (click)="openCancelarDialog(reservaSelecionada)">
    <mat-icon>not_interested</mat-icon>
  </button>
</div>
