<h1 mat-dialog-title>Filtrar por:</h1>
<div mat-dialog-content>
    <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="filtroAtual">
      <mat-radio-button class="example-radio-button" color="primary" *ngFor="let filter of data.filtros" [value]="filter">
          {{filter}}
      </mat-radio-button>
    </mat-radio-group>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="filtroAtual" cdkFocusInitial>Ok</button>
</div>
