<h1 mat-dialog-title>Confirmação</h1>
<div mat-dialog-content>
  <p style="text-align: justify">Deseja realmente <ng-container *ngIf="data.ativo">inativar</ng-container> <ng-container *ngIf="!data.ativo">ativar</ng-container> a turma {{ data.nome }}?</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
