<button [matMenuTriggerFor]="profile" mat-button class="m-r-5">
  <!-- <img src="assets/images/perfil5.png" alt="user" class="profile-pic"> -->
  <i class="material-icons">person</i>
  <span fxShow="false" fxShow.gt-xs> {{ nomeUsuario }} </span>
  <i class="material-icons"> arrow_drop_down </i>
</button>
<mat-menu #profile="matMenu" class="mymegamenu">
  <button mat-menu-item routerLink="/perfil">
    <mat-icon>account_box</mat-icon> Meu perfil
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon> Sair
  </button>
</mat-menu>
