<div mat-dialog-title>
  <!-- <button mat-icon-button matTooltip="Editar reserva" matTooltipPosition="above"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button matTooltip="Excluir reserva" matTooltipPosition="above"><mat-icon>delete</mat-icon></button> -->
  {{ reservaSelecionada ? reservaSelecionada.title : '' }}
</div>
<div mat-dialog-content *ngIf="reservaSelecionada">
  <div class="row">
    <div class="col-md-1 col-1">
      <i class="material-icons" matTooltip="Data e horário da reserva">calendar_today</i>
    </div>
    <div class="col-md-11 col-10">
      {{ reservaSelecionada.start | date: 'dd/MM/yyyy HH:mm:ss' }} -
      {{ reservaSelecionada.end | date: 'dd/MM/yyyy HH:mm:ss' }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-1">
      <i class="material-icons" matTooltip="Responsável pela reserva">person</i>
    </div>
    <div class="col-md-11 col-10">
      {{ reservaSelecionada.usuario.nome + ' ' + reservaSelecionada.usuario.sobrenome }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-1">
      <i class="material-icons" matTooltip="Veículo da reserva">directions_bus</i>
    </div>
    <div class="col-md-11 col-10">
      {{ reservaSelecionada.veiculo.modelo + ' - ' + reservaSelecionada.veiculo.marca }}
    </div>
  </div>
  <ng-container *ngIf="isUsuarioLogado()">
    <div class="row">
      <div class="col-md-1 col-1">
        <i class="material-icons" matTooltip="Saída">flight_takeoff</i>
      </div>
      <div class="col-md-11 col-10">
        {{ reservaSelecionada.saida }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-1">
        <i class="material-icons" matTooltip="Destino">flight_land</i>
      </div>
      <div class="col-md-11 col-10">
        {{ reservaSelecionada.destino }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-1">
        <i class="material-icons" matTooltip="Motivo">insert_comment</i>
      </div>
      <div class="col-md-11 col-10">
        {{ reservaSelecionada.motivo }}
      </div>
    </div>
    <div class="row" *ngIf="reservaSelecionada.motorista">
      <div class="col-md-1 col-1">
        <i class="material-icons" matTooltip="Motorista da reserva">airline_seat_recline_normal</i>
      </div>
      <div class="col-md-11 col-10">
        {{ reservaSelecionada.motorista.nome + ' ' + reservaSelecionada.motorista.sobrenome }}
      </div>
    </div>
    <div class="row" *ngIf="reservaSelecionada.status.id === 4">
      <div class="col-md-1 col-1">
        <i class="material-icons" matTooltip="Motivo reprovação">cancel_presentation</i>
      </div>
      <div class="col-md-11 col-10">
        {{ reservaSelecionada.motivoRejeicao }}
      </div>
    </div>
    <div class="row" *ngIf="reservaSelecionada.status.id === 5 && reservaSelecionada.motivoRejeicao">
        <div class="col-md-1 col-1">
          <i class="material-icons" matTooltip="Motivo cancelamento">cancel_presentation</i>
        </div>
        <div class="col-md-11 col-10">
          {{ reservaSelecionada.motivoRejeicao }}
        </div>
      </div>
  </ng-container>
  <!-- colocar motorista caso esteja aprovada -->
  <div class="row">
    <div class="col-md-12">
      <span *ngIf="reservaSelecionada.status.id === 1" class="badge" style="background-color: #3788d8;"
        matTooltipPosition="above">Aberta</span>
      <span *ngIf="reservaSelecionada.status.id === 2" class="badge" style="background-color: orange;"
        matTooltipPosition="above">Em aprovação</span>
      <span *ngIf="reservaSelecionada.status.id === 3" class="badge" style="background-color: #34bb34;"
        matTooltipPosition="above">Aprovada</span>
      <span *ngIf="reservaSelecionada.status.id === 4" class="badge" style="background-color: #ec3244;"
        matTooltipPosition="above">Reprovada</span>
      <span *ngIf="reservaSelecionada.status.id === 5" class="badge" style="background-color: #9d37d8;"
        matTooltipPosition="above">Cancelada</span>
      <span *ngIf="reservaSelecionada.status.id === 6" class="badge" style="background-color: #ff4081;"
        matTooltipPosition="above">Expirada</span>
    </div>
  </div>

</div>
<div mat-dialog-actions align="end" *ngIf="reservaSelecionada && maiorQueDataAtual() && isUsuarioLogado()">
  <!-- <ng-container > -->
  <button [disabled]="botoesDesabilitados" mat-icon-button matTooltip="Enviar para aprovação" matTooltipPosition="above"
    *ngIf="reservaSelecionada.status.id === 1" (click)="openEnviarAprovacaDialog(reservaSelecionada, true)">
    <mat-icon>send</mat-icon>
  </button>
  <button [disabled]="botoesDesabilitados" mat-icon-button matTooltip="Retirar da aprovação" matTooltipPosition="above"
    *ngIf="reservaSelecionada.status.id === 2" (click)="openEnviarAprovacaDialog(reservaSelecionada, false)">
    <mat-icon>cancel_schedule_send</mat-icon>
  </button>
  <button [disabled]="botoesDesabilitados" mat-icon-button matTooltip="Editar reserva" matTooltipPosition="above"
    *ngIf="reservaSelecionada.status.id === 1" (click)="openAlterarDialog(reservaSelecionada)">
    <mat-icon>edit</mat-icon>
  </button>
  <button [disabled]="botoesDesabilitados" mat-icon-button matTooltip="Cancelar reserva" matTooltipPosition="above"
    *ngIf="reservaSelecionada.status.id === 1 || reservaSelecionada.status.id === 2 || reservaSelecionada.status.id === 3"
    (click)="openCancelarDialog(reservaSelecionada)">
    <mat-icon>not_interested</mat-icon>
  </button>
  <!-- </ng-container> -->
</div>
