<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="row">
        <h3 class="col-md-12"> <a class="rota-anterior" routerLink="/relatorios">Relatórios</a> >
          Reservas de veículo</h3>
      </div>
    </div>
    <br>
    <mat-tab-group>
      <mat-tab label="Por veículo (aprovadas)">
        <br>
        <form (ngSubmit)="gerarRelatorioPorVeiculo()" [formGroup]="formGroupRelatorioPorVeiculo">
          <div class="row" style="width: 100%">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data inicial</mat-label>
                <input matInput [matDatepicker]="picker1" (click)="picker1.open()" formControlName="inicio" readonly placeholder="Início"
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 readonly="false"></mat-datepicker>
                <mat-error>Informe a data inicial</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data final</mat-label>
                <input matInput [min]="inicioRelatorioPorVeiculo.value" [matDatepicker]="picker2" (click)="picker2.open()" formControlName="fim"
                  readonly placeholder="Fim" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 readonly="false"></mat-datepicker>
                <mat-error>Informe a data final</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <app-selection-filter *ngIf="veiculos" [lista]="veiculos" place="Veículo" filtro="veiculo"
                estilo="outline" (objetoSelecionado)="aoSelecionarVeiculoRelatorioPorVeiculo($event)"
                placeholderLabel="Encontrar veículo..." messageErro="Selecione o veículo"
                noEntriesFoundLabel="Nenhum veículo encontrado">
              </app-selection-filter>
            </div>
          </div>
          <br>
          <div class="align-botao">
            <button mat-stroked-button color="primary" [disabled]="botaoReservaDesabilitados">Gerar relatório</button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Por servidor (aprovadas)">
        <br>
        <form (ngSubmit)="gerarRelatorioPorServidor()" [formGroup]="formGroupRelatorioPorServidor">
          <div class="row" style="width: 100%">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data inicial</mat-label>
                <input matInput [matDatepicker]="picker3" (click)="picker3.open()" formControlName="inicio" readonly placeholder="Início"
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3 readonly="false"></mat-datepicker>
                <mat-error>Informe a data inicial</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data final</mat-label>
                <input matInput [min]="inicioRelatorioPorServidor.value" [matDatepicker]="picker4" (click)="picker4.open()" formControlName="fim"
                  readonly placeholder="Fim" required>
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4 readonly="false"></mat-datepicker>
                <mat-error>Informe a data final</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <app-selection-filter *ngIf="usuarios" [lista]="usuarios" place="Servidor"
                filtro="servidor" estilo="outline" (objetoSelecionado)="aoSelecionarServidorRelatorioPorServidor($event)"
                placeholderLabel="Encontrar servidor..." messageErro="Selecione o servidor"
                noEntriesFoundLabel="Nenhum servidor encontrado">
              </app-selection-filter>
            </div>
          </div>
          <br>
          <div class="align-botao">
            <button mat-stroked-button color="primary" [disabled]="botaoReservaDesabilitados">Gerar relatório</button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Por motorista (aprovadas)">
        <br>
        <form (ngSubmit)="gerarRelatorioPorMotorista()" [formGroup]="formGroupRelatorioPorMotorista">
          <div class="row" style="width: 100%">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data inicial</mat-label>
                <input matInput [matDatepicker]="picker5" (click)="picker5.open()" formControlName="inicio" readonly placeholder="Início"
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                <mat-datepicker #picker5 readonly="false"></mat-datepicker>
                <mat-error>Informe a data inicial</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data final</mat-label>
                <input matInput [min]="inicioRelatorioPorMotorista.value" [matDatepicker]="picker6" (click)="picker6.open()" formControlName="fim"
                  readonly placeholder="Fim" required>
                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                <mat-datepicker #picker6 readonly="false"></mat-datepicker>
                <mat-error>Informe a data final</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <app-selection-filter *ngIf="motoristas" [lista]="motoristas" place="Motorista"
                placeholderLabel="Encontrar motorista..." noEntriesFoundLabel="Nenhum motorista encontrado"
                filtro="motorista" estilo="outline" messageErro="Selecione o motorista"
                (objetoSelecionado)="aoSelecionarMotoristaRelatorioPorMotorista($event)">
              </app-selection-filter>
            </div>
          </div>
          <br>
          <div class="align-botao">
            <button mat-stroked-button color="primary" [disabled]="botaoReservaDesabilitados">Gerar relatório</button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Minhas reservas">
        <br>
        <form (ngSubmit)="gerarRelatorioMinhasReservas()" [formGroup]="formGroupMinhasReservas">
          <div class="row" style="width: 100%">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data inicial</mat-label>
                <input matInput [matDatepicker]="picker7" (click)="picker7.open()" formControlName="inicio" readonly placeholder="Início"
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                <mat-datepicker #picker7 readonly="false"></mat-datepicker>
                <mat-error>Informe a data inicial</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data final</mat-label>
                <input matInput [min]="inicio.value" [matDatepicker]="picker8" (click)="picker8.open()" formControlName="fim" readonly
                  placeholder="Fim" required>
                <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                <mat-datepicker #picker8 readonly="false"></mat-datepicker>
                <mat-error>Informe a data final</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <app-selection-filter #veiculo *ngIf="veiculos" [lista]="veiculos" place="Veículo" filtro="veiculo"
                estilo="outline" (objetoSelecionado)="aoSelecionarVeiculo($event)" removerEspaco="true"
                placeholderLabel="Encontrar veículo..." noEntriesFoundLabel="Nenhum veículo encontrado">
              </app-selection-filter>
              <a mat-button color="primary" (click)="removerVeiculo()">Limpar</a>
            </div>
          </div>
          <div class="row" style="width: 100%">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="idStatus">
                  <mat-option value="null">Todos</mat-option>
                  <mat-option value="1">Aberta</mat-option>
                  <mat-option value="2">Em aprovação</mat-option>
                  <mat-option value="3">Aprovada</mat-option>
                  <mat-option value="4">Reprovada</mat-option>
                  <mat-option value="5">Cancelada</mat-option>
                  <mat-option value="6">Expirada</mat-option>
                </mat-select>
                <mat-error>Selecione o tipo</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="align-botao">
            <button mat-stroked-button color="primary">Gerar relatório</button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Completo">
        <br>
        <form (ngSubmit)="gerarRelatorioReservasAprovadas()" [formGroup]="formGroupReservas">
          <div class="row" style="width: 100%">
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data inicial</mat-label>
                <input matInput [matDatepicker]="picker9" (click)="picker9.open()" formControlName="inicio" readonly placeholder="Início"
                  required>
                <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                <mat-datepicker #picker9 readonly="false"></mat-datepicker>
                <mat-error>Informe a data inicial</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Data final</mat-label>
                <input matInput [min]="inicioReservas.value" [matDatepicker]="picker10" (click)="picker10.open()" formControlName="fim" readonly
                  placeholder="Fim" required>
                <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
                <mat-datepicker #picker10 readonly="false"></mat-datepicker>
                <mat-error>Informe a data final</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <app-selection-filter #veiculoReservas *ngIf="veiculos" [lista]="veiculos" place="Veículo"
                filtro="veiculo" estilo="outline" (objetoSelecionado)="aoSelecionarVeiculoReservas($event)"
                removerEspaco="true" placeholderLabel="Encontrar veículo..."
                noEntriesFoundLabel="Nenhum veículo encontrado">
              </app-selection-filter>
              <a mat-button color="primary" (click)="removerVeiculoReservas()">Limpar</a>
            </div>
          </div>
          <div class="row" style="width: 100%">
            <div class="col-md-6">
              <app-selection-filter #usuarioReservas *ngIf="usuarios" [lista]="usuarios" place="Servidor"
                filtro="servidor" estilo="outline" (objetoSelecionado)="aoSelecionarServidorReservas($event)"
                removerEspaco="true" placeholderLabel="Encontrar servidor..."
                noEntriesFoundLabel="Nenhum servidor encontrado">
              </app-selection-filter>
              <a mat-button color="primary" (click)="removerUsuarioReservas()">Limpar</a>
            </div>
            <div class="col-md-6">
              <app-selection-filter #motoristaReservas *ngIf="motoristas" [lista]="motoristas" place="Motorista"
                placeholderLabel="Encontrar motorista..." noEntriesFoundLabel="Nenhum motorista encontrado"
                filtro="motorista" removerEspaco="true" estilo="outline"
                (objetoSelecionado)="aoSelecionarMotoristaReservas($event)">
              </app-selection-filter>
              <a mat-button color="primary" (click)="removerMotoristaReservas()">Limpar</a>
            </div>
          </div>
          <br>
          <div class="align-botao">
            <button mat-stroked-button color="primary" [disabled]="botaoReservaDesabilitados">Gerar relatório</button>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
