.align-botao {
  display: flex;
	align-items: center;
	justify-content: center;
}

.rota-anterior {
  color: #757575;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #1e88e5;
}

.mat-stroked-button:not([disabled]) {
border-color: #1e88e5;
}
