<h1 mat-dialog-title>Atenção</h1>
<div mat-dialog-content>
  <p style="text-align: justify">Para visualizar a reserva criada, altere o filtro "Exibir" para "Minhas reservas".</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Ok</button>
</div>
