<div class="login-container">
  <div class="container">
    <div class="row justify-content-center">
      <img class="img-fluid" src="/assets/images/teste_logo.png">
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8 col-sm-10 col-11 login-box">
        <div *ngIf="!editando">
          <div>
            <m-auth-notice></m-auth-notice>
            <h3>Esqueceu a senha?</h3>
            <div>Informe seu e-mail para alterar sua senha</div>
          </div>
          <form (ngSubmit)="recuperar()" [formGroup]="formGroupAlteracao">
            <mat-form-field>
              <mat-label>E-mail</mat-label>
              <input matInput type="email" name="email" placeholder="E-mail" formControlName="email" required>
              <mat-error>Informe o e-mail</mat-error>
            </mat-form-field>
            <div class="actions" align="end">
              <a mat-button color="primary" (click)="voltar()" [disabled]="!botaoHabilitado">Voltar para login</a>
              <button mat-flat-button color="primary" [disabled]="!botaoHabilitado">ENVIAR</button>
            </div>
          </form>
        </div>
        <div *ngIf="editando">
          <ng-container *ngIf="tokenExpirado">
            <h3>Tente redefinir sua senha novamente</h3>
            <div>Sua solicitação para redefinir a senha expirou ou o link já foi usado.</div>
            <!-- <div class="actions" align="end">
              <button mat-flat-button color="primary" routerLink="/recuperar-senha">REDEFINIR</button>
            </div> -->
          </ng-container>
          <ng-container *ngIf="!tokenExpirado">
            <form (ngSubmit)="redefinirSenha()" [formGroup]="formGroupRedefinicao">
              <h3>Redefinição de senha</h3>
              <m-auth-notice></m-auth-notice>
              <mat-form-field>
                <mat-label>Nova senha</mat-label>
                <input matInput type="password" placeholder="Nova senha" formControlName="novaSenha" required>
                <mat-error *ngIf="novaSenha.hasError('required')">Informe a nova senha</mat-error>
                <mat-error *ngIf="novaSenha.hasError('minlength')">A senha deve possuir no mínimo 6 caracteres
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Confirmação</mat-label>
                <input matInput type="password" placeholder="Confirmação" formControlName="confirmacaoSenha"
                  [errorStateMatcher]="confirmValidParentMatcher" required>
                <mat-error *ngIf="confirmacaoSenha.hasError('required')">Confirme a senha</mat-error>
                <mat-error *ngIf="!confirmacaoSenha.hasError('required')">Senhas não são iguais</mat-error>
              </mat-form-field>
              <div class="actions" align="end">
                <a mat-button color="primary" (click)="voltar()" [disabled]="!botaoHabilitado">Voltar para login</a>
                <button mat-flat-button color="primary" [disabled]="!botaoHabilitado">REDEFINIR</button>
              </div>
            </form>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
