<h1 mat-dialog-title>Atenção</h1>
<div mat-dialog-content>
  <p style="text-align: justify">Problema de compatibilidade nos seguintes horários de
    <ng-container *ngIf="data[0].diaSemana === 'Sun'"> Domingo:</ng-container>
    <ng-container *ngIf="data[0].diaSemana === 'Mon'"> Segunda:</ng-container>
    <ng-container *ngIf="data[0].diaSemana === 'Tue'"> Terça:</ng-container>
    <ng-container *ngIf="data[0].diaSemana === 'Wed'"> Quarta:</ng-container>
    <ng-container *ngIf="data[0].diaSemana === 'Thu'"> Quinta:</ng-container>
    <ng-container *ngIf="data[0].diaSemana === 'Fri'"> Sexta:</ng-container>
    <ng-container *ngIf="data[0].diaSemana === 'Sat'"> Sábado:</ng-container>
  </p>
  <p>
    <span *ngFor="let horario of data"> Horário inicial: {{ horario.horarioInicio.substring(0,5) }} - Horário final: {{ horario.horarioTermino.substring(0,5) }} <br></span>
  </p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Ok</button>
</div>
