<h1 mat-dialog-title>Confirmação</h1>
<div mat-dialog-content>
  <p style="text-align: justify">Deseja realmente excluir o(a) motorista {{ data.nome }}?</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Não</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Sim</button>
</div>
