<div class="main-container">
  <mat-toolbar *ngIf="exibindoNavbar()" class="topbar telative">
    <div class="navbar-header">
      <a class="navbar-brand" href="">
        <b fxHide fxShow.xs>
          <img src="assets/images/logo_menor_final.png" alt="homepage" class="light-logo">
        </b>
        <span fxShow="false" fxShow.gt-xs>
          <img src="assets/images/logo_menor_3_final.png" class="light-logo" alt="homepage">
        </span> </a>
    </div>
    <button mat-icon-button (click)="exibirMenuLateral()" value="sidebarclosed">
      <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex></span>
    <app-header></app-header>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav *ngIf="exibindoNavbar()" #snav id="snav" class="dark-sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'"
      fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content [ngClass]="exibindoNavbar() ? 'cor-fundo' : 'page-wrapper'">
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
