.example-card {
    max-width: 400px;
    background: #eceaea;
    // background: #d4cfcf;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5) !important;
  }

  table {
    width: 100%;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    width: 80px;
    height: 80px;
  }

  .card-conteudo {
    padding: 8px;
}

  .centralizar {
    align-items: center !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }

  .mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #1e88e5;
  }

  .mat-stroked-button:not([disabled]) {
  border-color: #1e88e5;
  }
