<h1 mat-dialog-title>Atenção</h1>
<div mat-dialog-content>
  <p style="text-align: justify">Os horários referentes a dias passados não podem ser alterados.
    Por isso, só é possível alterar a reserva a partir do dia atual. Altere a data inicial da reserva para o
    dia que você quer que a alteração passe a valer.</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Ok</button>
</div>
