<h1 mat-dialog-title>Confirmação</h1>
<div mat-dialog-content>
  <p style="text-align: justify">Deseja realmente <ng-container *ngIf="data.enviar">enviar para</ng-container> <ng-container *ngIf="!data.enviar">retirar da</ng-container> aprovação a reserva {{ data.reserva.title }}?</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Não</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Sim</button>
</div>
