<form (ngSubmit)="reprovar()" [formGroup]="rejeicaoFormGroup">
  <h1 mat-dialog-title> {{ data.tipo }} </h1>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field appearance="outline">
          <mat-label> Motivo </mat-label>
          <textarea matInput formControlName="motivo" placeholder="Motivo*"></textarea>
          <mat-error>Informe o motivo</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close> {{ data.tipo === 'Cancelar' ? 'Voltar' : 'Cancelar' }}</button>
    <button mat-raised-button color="primary" cdkFocusInitial>{{ data.tipo }}</button>
  </div>
</form>
