<form (ngSubmit)="salvar()" [formGroup]="newReservaVeiculoFormGroup">
  <h1 mat-dialog-title>
    <mat-form-field>
      <input matInput #message maxlength="25" formControlName="title" placeholder="Título*">
      <mat-error>Informe o título</mat-error>
      <mat-hint align="end">{{message.value.length}} / 25</mat-hint>
    </mat-form-field>
  </h1>
  <div mat-dialog-content>
    <div class="row">
      <ng-container formGroupName="dataFormGroup">
        <div class="col-md-6">
          <mat-form-field *ngIf="!editando">
            <input matInput readonly="true" formControlName="start"
              [value]="newReservaVeiculoFormGroup.controls.dataFormGroup.controls.start.value | date: 'dd/MM/yyyy'"
              placeholder="Data inicial*">
          </mat-form-field>
          <mat-form-field *ngIf="editando">
            <input matInput [min]="minDateInicial" [matDatepicker]="picker" formControlName="start" readonly
              placeholder="Data inicial*" (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker readonly="false"></mat-datepicker>
            <mat-error>Informe a data inicial</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Hora inicial*</mat-label>
            <mat-select formControlName="horaInicial">
              <mat-option *ngFor="let hora of horarios" [value]="hora"> {{ hora.horario }} </mat-option>
            </mat-select>
            <mat-error>Informe a hora inicial</mat-error>
          </mat-form-field>
        </div>
      </ng-container>
    </div>
    <div class="row">
      <ng-container formGroupName="dataFormGroup">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput [min]="newReservaVeiculoFormGroup.controls.dataFormGroup.controls.start.value"
              [matDatepicker]="picker" (click)="picker.open()" formControlName="end" readonly placeholder="Data final*">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker readonly="false"></mat-datepicker>
            <mat-error>Informe a data final</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Hora final*</mat-label>
            <mat-select formControlName="horaFinal" [errorStateMatcher]="confirmValidParentMatcher">
              <mat-option *ngFor="let hora of horarios" [value]="hora"> {{ hora.horario }} </mat-option>
            </mat-select>
            <mat-error *ngIf="horaFinal.hasError('required')">Informe a hora final</mat-error>
            <mat-error *ngIf="!horaFinal.hasError('required')">Hora final deve ser maior que a inicial</mat-error>
          </mat-form-field>
        </div>
      </ng-container>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <input matInput formControlName="saida" placeholder="Saída*">
          <mat-error>Informe a saída</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <input matInput formControlName="destino" placeholder="Destino*">
          <mat-error>Informe o destino</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <textarea matInput formControlName="motivo" placeholder="Motivo*"></textarea>
          <mat-error>Informe o motivo</mat-error>
        </mat-form-field>
      </div>
    </div>

  </div>
  <div mat-dialog-actions align="end">
    <a mat-button (click)="onNoClick()">Cancelar</a>
    <!-- <button mat-raised-button color="primary" [mat-dialog-close]="newReservaVeiculoFormGroup" cdkFocusInitial>Salvar</button> -->
    <button mat-raised-button color="primary" cdkFocusInitial>Salvar</button>
  </div>
</form>
