/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
*:focus {
    outline: 0 !important;
  }

.fc-event{
  cursor: pointer;
}
@import '~ngx-toastr/toastr';
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';
// @import '~ngx-toastr/toastr-bs4-alert';

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

// .login-container {
// 	padding-top: 80px;
// 	height: 100vh;
// 	position: relative;

// 	img.bg {
// 		object-fit: contain;
// 		width: 100%;
// 		position: absolute;
// 		bottom: 0;
// 	}

// 	.mat-progress-bar {
// 		position: absolute;
// 		top: 0;
// 	}
// }

.login-box {
	box-shadow: 0px 1px 7px 0px rgba(48,48,48,0.3);;
  padding: 25px;
  background-color: white !important;
}

.button-login {
  margin-top: 20px !important;
  width: 100%;
  margin-bottom: 20px;
  background-color: #00a0e8;
  font-size: 15px;
}

.login-container {
	padding-top: 80px;
	// height: 100vh;
  position: relative;
  width: 100% !important;

	img.bg {
		object-fit: contain;
		width: 100%;
		position: absolute;
		bottom: 0;
	}

	.mat-progress-bar {
		position: absolute;
		top: 0;
	}
}

.link {
  font-size: 13px;
  color: #00a0e8;
}

@media screen and (max-width: 910px) {
  #toggle-1 {
    display:none;
  }

  .mat-table {
    border: 0;
    vertical-align: middle
  }

  mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
    padding-left: 0 !important;
  }

  mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 0 !important;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
    margin-right: 10px;
  }

  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: .85em;
    padding-left: 10px;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }

  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}
