<mat-card>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <h3 class="col-md-12"> <a class="rota-anterior" routerLink="/blocos">Blocos</a> >
          {{editando ? 'Edição' : 'Novo'}}</h3>
      </div>
      <br>
      <form (ngSubmit)="salvar()" [formGroup]="formGroupBloco">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="mat-form-field-fluid">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome" placeholder="Nome" required>
              <mat-error>Informe o nome</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12" align="end">
            <button mat-button routerLink="/blocos" style="margin-right: 10px;">Voltar</button>
            <button mat-flat-button color="primary">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
