<mat-horizontal-stepper linear #stepper (selectionChange)="changeStep($event)">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Selecione o veículo</ng-template>
      <div class="row d-flex justify-content-center">
        <div class="col-md-5">
          <app-selection-filter *ngIf="veiculos" [lista]="veiculos" place="Veículo" filtro="veiculo" estilo="outline"
            messageErro="Selecione o veículo" (objetoSelecionado)="aoSelecionar($event)"
            placeholderLabel="Encontrar veículo..." noEntriesFoundLabel="Nenhum veículo encontrado">
          </app-selection-filter>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <button mat-stroked-button color="primary" matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Reservas
      {{veiculoSelecionado ? ' - ' + veiculoSelecionado.modelo + ' | ' + veiculoSelecionado.marca + ' | ' + veiculoSelecionado.placa : ''}}
    </ng-template>
    <!-- <div class="row justify-content-center"> -->
    <div class="row">
      <div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3">
        <mat-form-field class="col-xl-8 offset-xl-2">
          <mat-label>Exibir</mat-label>
          <mat-select [(ngModel)]="exibirPor" (selectionChange)="listarReservasPorVeiculo()">
            <mat-option value="all">Todos servidores</mat-option>
            <mat-option value="minhas">Minhas reservas</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3 offset-lg-1 col-sm-6 offset-sm-3">
        <span style="font-size: 0.8em; font-style: italic;">*Para adicionar uma reserva, clique em cima de uma
          data</span>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <span class="badge" style="background-color: #3788d8; margin-right: 5px"
        *ngIf="exibirPor === 'minhas'">Aberta</span>
      <span class="badge" style="background-color: orange; margin-right: 5px">Em aprovação</span>
      <span class="badge" style="background-color: #34bb34">Aprovada</span>
      <span class="badge" style="background-color: #ec3244; margin-left: 5px; margin-right: 5px"
        *ngIf="exibirPor === 'minhas'">Reprovada</span>
      <span class="badge" style="background-color: #9d37d8; margin-right: 5px"
        *ngIf="exibirPor === 'minhas'">Cancelada</span>
      <span class="badge" style="background-color: #ff4081; margin-right: 5px"
        *ngIf="exibirPor === 'minhas'">Expirada</span>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class='app-calendar'>
          <full-calendar #calendar defaultView="dayGridMonth" [header]="{
                left: 'title',
                center: '',
                right: 'today prev,next'
              }" locale='pt-br' [buttonText]=" {
                today: 'Atual'
              }" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [events]="calendarEvents"
            (eventClick)="handleEventClick($event)" (dateClick)="handleDateClick($event)"></full-calendar>
        </div>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
