.app-top {
    margin: 0 0 3em;
  }

  .app-calendar {
    margin: 0 auto;
    max-width: 900px;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }

  .example-container > * {
    width: 100%;
  }

  .mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #1e88e5;
  }

  .mat-stroked-button:not([disabled]) {
  border-color: #1e88e5;
  }

  /* .mat-card {
    background: #9cc4e7;
    color: rgba(0, 0, 0, 0.87);
} */
