<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-md-6">
        <h3>Aprovações</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-5 col-12">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="status" (selectionChange)="alterarFiltro()">
            <mat-option [value]=2>Em aprovação</mat-option>
            <mat-option [value]=3>Aprovadas</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-sm-7 col-12">
        <app-selection-filter #filter *ngIf="veiculos" [lista]="veiculos" place="Veículo" filtro="veiculo"
          (objetoSelecionado)="aoSelecionar($event)" placeholderLabel="Encontrar veículo..."
          noEntriesFoundLabel="Nenhum veículo encontrado" removerEspaco="true"></app-selection-filter>
          <a mat-button color="primary" (click)="removerMotorista()">Limpar</a>
      </div>
    </div>
    <br>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let reserva of reservas">
        <mat-expansion-panel-header>
          <mat-panel-title class="title">{{ reserva.title }}</mat-panel-title>
          <mat-panel-description id="data1">
            {{ reserva.start | date: 'dd/MM/yyyy HH:mm:ss' }} - {{ reserva.end | date: 'dd/MM/yyyy HH:mm:ss' }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-12" id="data2"><b>Data:</b> {{ reserva.start | date: 'dd/MM/yyyy HH:mm:ss' }} - {{ reserva.end | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
          <div class="col-md-12"><b>Responsável:</b> {{ reserva.usuario.nome }} {{ reserva.usuario.sobrenome }}</div>
          <div class="col-md-12"><b>Saída:</b> {{ reserva.saida }}</div>
          <div class="col-md-12"><b>Destino:</b> {{ reserva.destino }}</div>
          <div class="col-md-12"><b>Veículo:</b> {{ reserva.veiculo.modelo }} - {{ reserva.veiculo.marca }} | Placa:
            {{ reserva.veiculo.placa }}</div>
          <div class="col-md-12"><b>Motivo:</b> {{ reserva.motivo }}</div>
          <div class="col-md-12"><b>Motorista:</b>
            <ng-container *ngIf="reserva.motorista"> {{ reserva.motorista.nome }} {{ reserva.motorista.sobrenome }}
            </ng-container>
          </div>
          <div class="col-md-12"><b>Data de envio para aprovação:</b>
            {{ reserva.dataEnvioAprovacao | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
        </div>
        <div align="end" *ngIf="status === 2">
          <button mat-button color="warn" (click)="openReprovarDialog(reserva, 'Reprovar')">Reprovar</button>
          <button mat-button color="primary" (click)="openAprovacaoDialog(reserva)">Aprovar</button>
        </div>
        <!-- <div align="end" *ngIf="status === 3 && maiorQueDataAtual(reserva.start)"> -->
        <div align="end" *ngIf="status === 3">
          <button mat-button color="warn" *ngIf="maiorQueDataAtual(reserva.end)" (click)="openReprovarDialog(reserva, 'Cancelar')">Cancelar</button>
          <button mat-button color="primary" *ngIf="maiorQueDataAtual(reserva.start)" (click)="openAprovacaoDialog(reserva)">Alterar motorista</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br><br>
    <div class="pagination-container">
      <button mat-stroked-button color="primary" (click)="previous()" [disabled]="currentPage === 0"> < Anterior </button>
      <button mat-stroked-button color="primary" (click)="next()" [disabled]="lastPage">> Próxima </button>
    </div>
  </mat-card-content>
</mat-card>
