.title {
  color: #22415d;
  font-weight: bolder;
}

// .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
//   color: black;
// }

.pagination-container {
	display: flex;
	align-items: center;
	justify-content: center;

	button:first-child {
		margin-right: 5px;
	}
}

#data2 {
  display:none;
}

@media screen and (max-width: 600px) {
  #data1 {
    display:none;
  }

  #data2 {
    display:block;
  }
}

.mat-expansion-panel-header {
  background: #d4edda !important;
  border-color: #c3e6cb !important;
  color: rgba(0, 0, 0, 0.87) !important;
  border: 1px solid transparent;
}

.mat-expanded:focus {
  background: #d4edda !important;
  border-color: #c3e6cb !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.mat-expansion-panel-header-title {
  color: #155724;
}
